
@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'JetBrains Mono', monospace;
}

/* header */

body{
    background-color: black;
}

header{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin: 5px 20px;
    background-color: black;
}

#H1-Dev{
    text-decoration: none;
}

header ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

header ul a{
    position: relative;
    text-decoration: none;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

header ul a::after{
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

header ul a:hover::after{
    width: 100%;
}

/* main */

main{
    padding: 20px;
    margin: 0 10px 10px;
}

section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100svh;
    gap: 20px;
}

#home-img_perfil{
    width: 300px;
    height: 300px;
    border-radius: 50%;   
}

#Skill_Bar ul{
    list-style: none;
}

.title_bar{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.Bar{
    width: 400px;
    height: 4px;
    background-color: white;
}

#Front_end-Bar{
    width: 95%;
    height: 4px;
    background-color: #505050;
}

#Back_end-Bar{
    width: 15%;
    height: 4px;
    background-color: #505050;
}

#Web-Bar{
    width: 60%;
    height: 4px;
    background-color: #505050;
}

#Desktop-Bar{
    width: 15%;
    height: 4px;
    background-color: #505050;
}

#Mobile-Bar{
    width: 10%;
    height: 4px;
    background-color: #505050;
}

#Devops-Bar{
    width: 10%;
    height: 4px;
    background-color: #505050;
}

/* Projects */

.slide{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img{
    width: 800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: 400px;
    display: flex;
    justify-content: center;
}

.manualButton{ 
    border: 2px solid white;
    padding: 5px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.8s;
}
   
.manualButton:not(:last-child){
    margin-right: 20px;
}

.manualButton:hover{
    background-color: white;   
}



/* Contact */

footer{
    padding: 20px;
    margin: 0 10px 10px;
}

#header_footer{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    border-bottom: 1px solid #505050;
}

footer ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    list-style: none;
    gap: 50px;
}

footer li{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#header_footer i{
    font-size: 25px;
    color: white;
}

#form_container{
    display: flex;
    justify-content: center;
    height: 100svh;
    align-items: center;
    gap: 20px;
}

#contactForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    width: 400px;
}

#contactForm input{
    padding: 5px;
    border: none;
    background-color: black;
    border-bottom: 1px solid#505050;
    color: white;
}

#contactForm input:focus{
    outline: none;
    border-bottom: 1px solid white;
}

#contactForm textarea{
    padding: 5px;
    border: none;
    background-color: black;
    border-bottom: 1px solid #505050;
    color: white;
}
#contactForm textarea:focus{
    outline: none;
    border-bottom: 1px solid white;
}
#contactForm button{
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 12px;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
#contactForm button:hover{
    background-color: #505050;
    color: white;
}