
@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'JetBrains Mono', monospace;
}

/* header */

body{
    background-color: black;
}

header{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin: 5px 20px;
    background-color: black;
}

#H1-Dev{
    text-decoration: none;
}

header ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

header ul a{
    position: relative;
    text-decoration: none;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

header ul a::after{
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

header ul a:hover::after{
    width: 100%;
}

/* main */

main{
    padding: 20px;
    margin: 0 10px 10px;
}

section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100svh;
    gap: 20px;
}

#home-img_perfil{
    width: 300px;
    height: 300px;
    border-radius: 50%;   
}

#Skill_Bar ul{
    list-style: none;
}

.title_bar{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.Bar{
    width: 400px;
    height: 4px;
    background-color: white;
}

#Front_end-Bar{
    width: 95%;
    height: 4px;
    background-color: #505050;
}

#Back_end-Bar{
    width: 15%;
    height: 4px;
    background-color: #505050;
}

#Web-Bar{
    width: 60%;
    height: 4px;
    background-color: #505050;
}

#Desktop-Bar{
    width: 15%;
    height: 4px;
    background-color: #505050;
}

#Mobile-Bar{
    width: 10%;
    height: 4px;
    background-color: #505050;
}

#Devops-Bar{
    width: 10%;
    height: 4px;
    background-color: #505050;
}

/* Projects */

#Projects{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100svh;
    gap: 20px;
}

#slideCard{
    width: 1280px;
    max-width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
}

#slideCard::-webkit-scrollbar{
    display: none;
}

.card-list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 20px;
}

.card-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 500px;
    background-color: #505050;
    border-radius: 12px;
    padding: 10px;
    border: 2px solid transparent;
}

.card-item:hover{
    border: 2px solid white;
    transition: 0.3s;
}

.description{
    display: inline-block;
    padding: 0px 10px 0px 10px;
    background-color: rgba(255, 123, 0, 0.4);
    color: rgb(255, 123, 0);
    border-radius: 50px;
}

.card-link h3{
    padding: 10px;
    margin: 10px 0px 0px;
}

.card-link div{
    padding: 0px 10px 0px;
}

.card-link i{
    padding: 0px 10px 10px;
    font-size: 30px;
    color: white;
}

.card-link:hover i{
    color: black;
    transition: 0.3s;
}

.card-link{
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.card-image{
    width: 100%;
    height: auto;
    position: outside;
    border-radius: 12px;
    margin: 0px 0px 10px;
}

.buttonDirection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.buttonDirection button{
    padding: 10px;
    border: none;
    border-radius: 12px;
    background-color: rgb(50, 50, 50, 0.9);
    color: black;
    cursor: pointer;
    border: 2px solid transparent;
}

.buttonDirection button:hover{
    border: 2px solid white;
    transition: 0.3s;
}

.buttonDirection i{
    font-size: 20px;
    padding: 10px;
    color: #000;
    font-weight: bold;
}

.buttonDirection i:hover{
    color: white;
    transition: 0.3s;
}
.buttonDirection a{
    text-decoration: none;
}

/* Contact */

footer{
    padding: 20px;
    margin: 0 10px 10px;
}

#header_footer{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    border-bottom: 1px solid #505050;
}

footer ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    list-style: none;
    gap: 50px;
}

footer li{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#header_footer i{
    font-size: 25px;
    color: white;
}

#form_container{
    display: flex;
    justify-content: center;
    height: 100svh;
    align-items: center;
    gap: 20px;
}

#contactForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    width: 400px;
}

#contactForm input{
    padding: 5px;
    border: none;
    background-color: black;
    border-bottom: 1px solid#505050;
    color: white;
}

#contactForm input:focus{
    outline: none;
    border-bottom: 1px solid white;
}

#contactForm textarea{
    padding: 5px;
    border: none;
    background-color: black;
    border-bottom: 1px solid #505050;
    color: white;
}
#contactForm textarea:focus{
    outline: none;
    border-bottom: 1px solid white;
}
#contactForm button{
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 12px;
    background-color: rgb(50, 50, 50, 0.9);
    color: black;
    border: 2px solid transparent;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
#contactForm button:hover{
    border: 2px solid white;
    color: white;
    transition: 0.3s;
}

/* media queries */

/* media queries for mobile devices */
@media screen and (max-width: 415px) and (max-height: 915px) {

    #H1-Dev{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }

    #header_footer{
        flex-direction: column;
        align-items: center;
    }
    
    #header_footer ul{
        margin-top: 20px;
    }
    
    section{
        flex-direction: column;
        height: 100svh;
    }

    footer{
        height: 100svh;
        flex-direction: column;
        justify-content: center;
    }

    #form_container {
        height: auto;           
        min-height: unset;      
        flex-direction: column; 
        padding: 30px 0;        
        align-items: center;    
    }

    #contactForm {
        width: 100%;            
        max-width: 400px;       
    }
    
}

/* media queries for old Apple */

@media screen and (max-width: 320px) and (max-height: 568px) {
 
    #H1-Dev{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

    #header_footer{
        flex-direction: column;
        align-items: center;
    }
    
    #header_footer ul{
        margin-top: 20px;
    }
    
    section{
        flex-direction: column;
        height: 100svh;
    }

    #home-img_perfil{
        width: 200px;
        height: 200px;
        border-radius: 50%;   
    }

    #Home h2{
        font-size: 15px;
    }

    .Bar{
        width: 260px;
        height: 4px;
        background-color: white;
    }

    footer ul{
        width: 100%;
        gap: 20px;
    }

    #header_footer i{
        font-size: 20px;
        color: white;
    }

   #form_container {
        height: auto;           
        min-height: unset;      
        flex-direction: column; 
        padding: 10px 0;        
        align-items: center;    
    }
    
    #contactForm {
        width: 100%;            
        max-width: 260px;       
    }
}